/* Universal styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}
/* common styles */
.container {
  width: 80%;
  margin: auto;
}
.btn {
  background-color: #5a47ef;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  outline: none;
  border: 1px solid #fff;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s;
  font-weight: normal;
}
.btn:hover {
  color: #e1e1de;
  border: 1px solid #5a47ef;
  background-color: #005FAC;
}
.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
}
.text {
  font-size: 16px;
  line-height: 26px;
  padding: 10px 0;
}

/* header section */
header {
  background-image: url(images/banner/banner3.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.header-details {
  text-align: right;
  padding-top: 150px;
}
.header-details h1 {
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  color: #fff;
}
.header-details p {
  margin-bottom: 30px;
  color: #ffffff;
}

/* failures section */
.my-failures {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 70vh;
  margin-top: 50px;
  padding: 30px 0;
}
.my-failures img {
  width: 40%;
  padding-left: 50px;
}
.failures-details{
    width: 40%;
}
.failures-details p{
    color: #444343;
}
.failures-details ul{
    
}
.failures-details ul li{
    color: #444343;
    list-style: none;
}
.failures-details ul li span{
    color: green;
}

/* blog section */
.our-blogs{
    padding: 50px 0;
    margin-top: 30px;
    text-align: center;
    background-color: rgb(245, 237, 226);
}

.our-blogs h2{
    
}
.blogs{
    display: flex;
    gap: 70px;
    text-align: left;
    padding: 20px 0;
}
.blog{
    box-shadow: 5px 5px 10px 5px gray;
    background-color: #ffffff;
}
.info{
    padding: 10px;
}
.info h3{
    font-size: 25px;
    line-height: 30px;
}
.info p{
    font-size: 15px;
    margin-bottom: 20px;
   
}
.blog img{
    width: 100%;
}
.our-blogs p{
    margin: 10px 0;
}
.info a{
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    padding: 7px 10px;
    background-color:#005FAC;
    border: 1px solid #005FAC;
    color: #ffffff;
}
.blog:hover{
    box-shadow: 6px 6px 10px 6px gray;
}
.more-blog{
    margin-top: 30px;
}
.more-blog a{
    background-color: #ffffff;
    color: #5a47ef;
    border: 1px solid #5a47ef;
    padding: 7px 10px;
    font-size: 14px;
}
.more-blog a:hover, .info a:hover{
    color: #ffffff;
    background-color: #5a47ef;
}

/* our-plan section */
.our-plan{
    text-align: center;
    margin-top: 50px;
}
.our-plan h2{
    margin-bottom: 30px;
}
.plans{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}
.plan img{
    margin-bottom: 10px;
}
.plan h4{
    font-size: 25px;
    line-height: 0 ;
    margin: 5px 0;
}
.call-now{
    margin: 50px 0;
    padding: 40px;
    background-image: linear-gradient(to left, rgb(95, 78, 78, .1),rgba(15, 123, 51, 1)),url("images/watch.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    border-radius: 10px;
}

.call-now h3{
    color: #ffffff;
    margin-bottom: 20px;
}

/* footer section */
footer{
    background: #151414;
    color: #ffffff;
}
.main-footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.main-footer h2{
    color: #ffffff;
}
.main-footer h3{
    color: #ffffff;
    font-size: 22px;
}
.main-footer .feature{
    width: 30%;
}
.feature ul{
    display: flex;
    margin-top: 10px;
}
.feature ul li{
    list-style: none;
    text-decoration: none;
    margin-right: 20px;
}
.subscribe input{
    display: block;
    margin-bottom: 30px;
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
}
.subscribe a{
    background-color: #005FAC;
    border: none;
}
.subscribe a:hover{
    background-color: #5a47ef;
    border: none;
}
.copy-right{
    text-align: center;
    padding-bottom: 10px;
    font-size: 16px;
}
.copy-right span{
    color: red;
    font-weight: 700;
    font-size: 20px;
}
